@model PagedList.IPagedList<interfazGrafica.Models.SuscripcionesIndex>
@using PagedList.Mvc; // Asegúrate de que PagedList.Mvc esté instalado y referenciado

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NombreSede)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TipoSuscripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Activo)
        </th>
        <th>Opciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSuscripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SuscripcionID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SuscripcionID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SuscripcionID })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    DisplayLinkToIndividualPages = true,
    DisplayPageCountAndCurrentLocation = false,
    MaximumPageNumbersToDisplay = 5,
    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
    // ... y otros ajustes de estilo si los necesitas
    UlElementClasses = new string[] { "pagination" }, // Clases de Bootstrap para la paginación
    LiElementClasses = new string[] { "page-item" }, // Clases de Bootstrap para cada ítem de la paginación
})
