@model PagedList.IPagedList<interfazGrafica.Models.Sedes>
@using PagedList.Mvc; 

@{
    ViewBag.Title = "Index";
}

<h2>Bienvenido a la Gestion de Sedes</h2>

<link href="~/Sources/StylesPages.css" rel="stylesheet" />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NombreSede)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Activo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreSede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SedeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SedeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SedeID })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
    new PagedListRenderOptions
    {
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayLinkToIndividualPages = true,
        DisplayPageCountAndCurrentLocation = false,
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
        EllipsesFormat = "&#8230;",
        LinkToFirstPageFormat = "Primera",
        LinkToPreviousPageFormat = "Anterior",
        LinkToNextPageFormat = "Siguiente",
        LinkToLastPageFormat = "Última",
        PageCountAndCurrentLocationFormat = "Página {0} de {1}.",
        ItemSliceAndTotalFormat = "Mostrando {0} a {1} de {2} entradas.",
        FunctionToDisplayEachPageNumber = null,
        ClassToApplyToFirstListItemInPager = null,
        ClassToApplyToLastListItemInPager = null,
        ContainerDivClasses = new[] { "pagination-container" },
        UlElementClasses = new[] { "pagination" },
        LiElementClasses = new[] { "page-item" },
    })
